<section id="beta-pre-footer" class="bg-purple pt-5">
    <div class="container">
        <div class="row pb-5 align-items-center d-flex">
            <div class="col-md-8">
                <div class="heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
                    <span class="subheading">Join the beta!</span>
                    <h2 style="font-size: 30px;">Get your free beta account now</h2>
                    <span class="subheading">Receive {{ site.ce.beta_credits }}€ for free!</span>
                </div>
            </div>
            <div class="col-md-4 ftco-animate fadeInUp ftco-animated text-center">
                <p class="mb-0"><a href="https://app.zenml.io" target="_blank" class="btn btn-primary btn-rnd-square py-3 px-7">Sign up now</a></p>
            </div>
        </div>
    </div>
</section>