<section id="categories">
  <div
    class="hero-wrap mt-5"
    style="margin-top: 0px !important; margin-left: 20px; margin-right: 20px"
  >
    <div class="container px-0">
      <div style="padding-bottom: 25px; min-height: 0px">
        <a href="{{ site.url }}/zenml-tag/"
          ><button
            type="button"
            class="navbar-btn nav-item btn-default"
            style="background-color: transparent"
            onmouseover="this.style.backgroundColor='#90ee90'"
            onmouseleave="this.style.backgroundColor='transparent'"
          >
            ZenML
          </button></a
        >
        <a href="{{ site.url }}/mlops-tag/">
          <button
            type="button"
            class="navbar-btn nav-item btn-default"
            style="background-color: transparent"
            onmouseover="this.style.backgroundColor='#90ee90'"
            onmouseleave="this.style.backgroundColor='transparent'"
          >
            MLOps
          </button></a
        >
        <a href="{{ site.url }}/tech-startup-tag/">
          <button
            type="button"
            class="navbar-btn nav-item btn-default"
            style="background-color: transparent"
            onmouseover="this.style.backgroundColor='#90ee90'"
            onmouseleave="this.style.backgroundColor='transparent'"
          >
            TechStartup
          </button></a
        >
      </div>
    </div>
  </div>
</section>
