<section id="categories">
  <div class="hero-wrap mt-5" style="margin-top: 0px !important">
    <div class="container px-0">
      <div style="padding-bottom: 25px; min-height: 0px">
        <a href="{{ site.url }}/tag/zenml/"
          ><button type="button" class="btn btn-default navbar-btn">
            ZenML
          </button></a
        >
        <a href="{{ site.url }}/tag/mlops/">
          <button type="button" class="btn btn-default navbar-btn">
            MLOps
          </button></a
        >
        <a href="{{ site.url }}/tag/tech-startup/">
          <button type="button" class="btn btn-default navbar-btn">
            TechStartup
          </button></a
        >
      </div>
    </div>
  </div>
</section>
