<footer class="ftco-footer ftco-bg-dark ftco-section" id="footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 p-4">
                    <!-- <img src="{{ site.url }}/assets/images/zenml-light.png" alt="footer-logo" class="img-fluid"><br > -->
                    <ul class="ftco-footer-social list-unstyled mb-0 d-flex justify-content">
                        <li class=""><a href="https://www.linkedin.com/company/zenml" target="_blank"><span class="icon-linkedin"></span></a></li>
                        <li class=""><a href="https://github.com/zenml-io/zenml" target="_blank"><span class="icon-github"></span></a></li>
                        <li class=""><a href="https://twitter.com/zenml_io" target="_blank"><span class="icon-twitter"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">About ZenML</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{ site.url }}/legal/" class="py-2 d-block" id="footer-legal-{{ page.url | slugify }}">Imprint &amp; Data privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{ site.links.zenml }}" class="py-2 d-block" id="footer-corefeatures-{{ page.url | slugify }}">ZenML Home</a></li>
                        <li><a href="{{ site.links.documentation }}" class="py-2 d-block" id="footer-docs-{{ page.url | slugify }}">ZenML Docs</a></li>
                        <li><a href="{{ site.links.zenml }}/tos/" class="py-2 d-block" id="footer-tos-{{ page.url | slugify }}">ZenML Terms of service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Us</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@zenml.io</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>