<section id="header">
  <div class="hero-wrap mt-5">
    <div class="container px-0">
      <div
        class="row d-md-flex no-gutters slider-text align-items-center"
        style="padding-top: 75px; min-height: 0px"
      >
        <div class="d-flex align-items-center ftco-animate">
          <div class="container">
            <h1 class="display-3 slim"><code>ZenML</code> | blog</h1>
            <p>The latest news, opinions and technical guides from ZenML.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
