<section id="signup" class="ftco-section bg-purple">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="white">Get started with the Core Engine - for free!</h1>
            </div>
            <div class="col-5 float-right">
                <!-- <a href="{{ site.url }}" class="btn btn-rnd-square btn-outline-dark text-center px-7 text-lg">See all</a> -->
                <a href="https://app.zenml.io/signup" class="btn-success white btn-outline-success btn-rnd-square px-5 py-3 float-right">Create your account.</a>
            </div>
        </div>
    </div>
</section>